# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

.classpath
.factorypath
.project
target/

# Eclipse metadata files that can be ignored
.editorconfig
.gitattributes
.settings/
bin/

# maven project related ignore files and directories
.mvn/

# Netbeans
**/nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### STS ###
.apt_generated
.settings
.springBeans
.sts4-cache